{% extends 'base.html' %}

{% block content %}
<head>
	<title>Histogram</title>
	<script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<body>

	<script>
		
		d3.json("https://raw.githubusercontent.com/conor-gil/gitapi_visual/master/data.json", function(coms) {
			var list = coms["data"];
		
			var map = list.map(function (i) { return parseInt(i.commits); });
			map.sort(function(a,b) { return a - b; });
			var contrib1 = map.pop();
			var contrib2 = map.pop();
			var contrib3 = map.pop();
			var contrib4 = map.pop();
			var contrib5 = map.pop();
		
		
			var padding = 50;
			var width = 500;
			var height = 500;
		
			var histogram = d3.layout.histogram()
				.bins(10)
				(map);
			
			
			var y = d3.scale.linear()
				.domain([0,d3.max(histogram.map(function(i) {return i.length;} ))])
				.range([0,height]);
				
			var x = d3.scale.linear()
				.domain([1,d3.max(map)])
				.range([1,width]);
			
			var xAxis = d3.svg.axis()
				.scale(x)
				.orient("bottom");
			
			var canvas = d3.select("body").append("svg")
				.attr("width", width)
				.attr("height", height + padding)
				.append("g")
					.attr("transform", "translate(20,30)");
			
			canvas.append("rect")
				.attr("width", "100%")
				.attr("height", "100%")
				.attr("fill", "MistyRose");
				
			canvas.append("text")
				.attr("x", "135")
				.attr("y", "20")
				.text("All users without top 5 contributors");
				
			var group = canvas.append("g")
				.attr("transform", "translate(0," + height + ")")
				.call(xAxis);
			
			var bars = canvas.selectAll(".bar")
				.data(histogram)
				.enter()
				.append("g");
			
			bars.append("rect")
				.attr("x", function (d) { return x(d.x); })
				.attr("y", function (d) { return height - y(d.y); })
				.attr("width", function (d) { return x(d.dx) * 50 - 1; })
				.attr("height", function (d) { return y(d.y); })
				.attr("fill", "steelblue");
				
			bars.append("text")
				.attr("x", function (d) { return x(d.x); })
				.attr("y", function (d) { return height - y(d.y); })
				.attr("dy", "-10px")
				.attr("dx", function(d) { return (x(d.dx)*15); })
				.attr("fill", "black")
				.attr("tect-anchor", "middle")
				.text(function (d) { return d.y; });
		});
					
	</script>

</body>
{% endblock %}
