{% extends 'base.html' %}

{% block content %}

<head>
	<title>D3 tutorial</title>
	<script src="http://d3js.org/d3.v3.min.js"></script>
</head>

<body>

	<script>
	
		d3.json("https://raw.githubusercontent.com/conor-gil/gitapi_visual/master/data.json", function(coms) {
			var list = coms["data"];
		
			list.sort(function(a,b) { return a.commits - b.commits;});
			var map = list.map(function (i) { return parseInt(i.commits); });
		
			var data = [];
			var i;
			for (i = 0; i < 5; i++)
			{
				data.push(map.pop());
			}
			var user5 = [];
			for (i = 0; i < 5; i++)
			{
				user5.push(list.pop().name);
			}
		
			var r = 250;
			var width = 800;
			var height = 600;
		
			var color = d3.scale.ordinal()
				.range(["#bd1e24","#e97600","#007256","#0067a7","#964f8e"]);
			
			var canvas = d3.select("body").append("svg")
				.attr("width", width)
				.attr("height", height);
			
			canvas.append("rect")
				.attr("width", "100%")
				.attr("height", "100%")
				.attr("fill", "Cornsilk");
				
			var k;
			for (k = 0; k < 5; k++)
			{
				canvas.append("rect")
					.attr("width", "15")
					.attr("height", "15")
					.attr("x", 600)
					.attr("y", k*30 + 20)
					.attr("fill", color(k));
				
				canvas.append("text")
					.attr("x", "620")
					.attr("y", k*30 + 30)
					.text(user5[k]);
			}
			
			canvas.append("text")
				.attr("x", "10")
				.attr("y", "20")
				.text("Top Five Users");
				
			var group = canvas.append("g")
				.attr("transform","translate(300,300)");
			
			var arc = d3.svg.arc()
				.innerRadius(0)
				.outerRadius(r);
				
			var pie = d3.layout.pie()
				.value(function (d) { return d});
			
			var arcs = group.selectAll(".arc")
				.data(pie(data))
				.enter()
				.append("g")
				.attr("class","arc");
			
			arcs.append("path")
				.attr("d",arc)
				.attr("fill", function (d,i) { return color(i); });
			
			arcs.append("text")
				.attr("text-anchor", "middle")
				.attr("x", function(d) {
					var a = d.startAngle + (d.endAngle - d.startAngle)/2 - Math.PI/2;
					d.cx = Math.cos(a) * (r - 45);
					return d.x = Math.cos(a) * (r+30);
				})
				.attr("y", function(d) {
					var a = d.startAngle + (d.endAngle - d.startAngle)/2 - Math.PI/2;
					d.cy = Math.sin(a) * (r - 45);
					return d.y = Math.sin(a) * (r + 30);
				})
				.text(function(d) { return d.value;  })
				.each(function(d) {
					var bbox = this.getBBox();
					d.sx = d.x - bbox.width/2 - 2;
					d.ox = d.x + bbox.width/2 + 2;
					d.sy = d.oy = d.y + 5;
				});
			
			arcs.append("path")
				.attr("class", "pointer")
				.style("fill", "none")
				.style("stroke", "black")
    
				.attr("d", function(d) {
					if(d.cx > d.ox) {
						return "M" + d.sx + "," + d.sy + "L" + d.ox + "," + d.oy + " " + d.cx + "," + d.cy;
					} else {
						return "M" + d.ox + "," + d.oy + "L" + d.sx + "," + d.sy + " " + d.cx + "," + d.cy;
					}
				});
		});
						
					
	</script>

</body>

{% endblock %}